@{
    ViewBag.Title = "Home Page";
}

@*<h4>Select CSV file to upload</h4>

<form id="uploader">
    <input id="fileInput" type="file" class="form-control">
    <input type="submit" value="Upload file" class="btn btn-info"/>
</form>
<div id="uploadMsg">
    
</div>*@

<div>
    <form id="uploader">
        <div>
            <div @*class="col-lg-6 col-sm-6 col-12"*@>
                <h4>Select CSV file</h4>
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            Browse&hellip; <input type="file" style="display: none;" id="fileInput">
                        </span>
                    </label>
                    <input type="text" class="form-control" readonly>
                </div>

                <span class="help-block">

                </span>
            </div>
            <div>
                <input type="submit" value="Upload" class="btn btn-info"/>
            </div>
        </div>
    </form>
    <div class="alert alert-success" role="alert" id="response">. </div>
</div>


@section scripts{

    <script>
        

        document.getElementById('uploader').onsubmit = function() {
            var formdata = new FormData(); //FormData object
            var fileInput = document.getElementById('fileInput');
            //Iterating through each files selected in fileInput
            for (i = 0; i < fileInput.files.length; i++) {
                //Appending each file to FormData object
                formdata.append(fileInput.files[i].name, fileInput.files[i]);
            }
            //Creating an XMLHttpRequest and sending
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/api/Upload', true);
            xhr.send(formdata);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                    /*  //alert(xhr.responseText);
                      $('#uploadMsg').text = xhr.responseText;
                  } else {*/
                    document.getElementById('response').innerHTML = xhr.responseText.toString();
                    //alert(xhr.readyState + "  " + xhr.responseText);
                    
                }
            }
            return false;
        }

        $(document).on('change', ':file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $(document).ready(function () {
            $(':file').on('fileselect', function (event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });
        });
    </script>


}
